.input_field {
  flex-direction: row;
  margin-top: 12px;
  display: flex;
}

input[type="checkbox"] {
  border: 1.5px solid #d8d6de;
  border-radius: 3px;
  display: flex;

  width: 18px;
  height: 18px;
  background-color: white;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: gray;
}

.label {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
